<!DOCTYPE html>
<html>
<head>
  <title>ThreeDee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://connect.soundcloud.com/sdk.js' %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div id="container">
    <header>
      <h3 id="title"><a href="/">OCTATTHEHOUSE</a></h3>
    </header>
        <div id="videocontainer">
                <video width="100%" autoplay loop poster="bg.jpg">
                    <source src='/audio/bryan_adams_hq.m4v' type="video/mp4" />
                </video>
            </div>
    <%= yield %>
    <footer>
      <p>Byan Adams at the OPera House</p>
    </footer>
  </div><!--/////////////////////////close container //////////-->
</body>
</html>
